// Scrollbar
$scrollbar-width: 8px;
$scrollbar-track: #e6e6e6;
$scrollbar-thumb: #007bff;
$scrollbar-thumb-hover: #7fbdff;

// Fonts
$font-family: -apple-system,blinkmacsystemfont,"Segoe UI",roboto,"Helvetica Neue",arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
